{% extends 'diggers/layouts/page.html' %}

{% block title %}Редагування коментаря {{ comment.text | truncatechars:80 }}{% endblock %}

{% block content %}
    <section class="page-content">
        <h2 class="page-content__title h1">Редагування коментаря {{ comment.text | truncatechars:80 }}</h2>

        <form method="POST" enctype="multipart/form-data">
            {% include "diggers/blocks/form.html" %}
            <button type="submit" class="btn--primary h-full-width">Зберегти</button>
        </form>
    </section>
{% endblock %}