{% extends 'diggers/layouts/blog.html' %}
{% load static %}
{% load bleach_post %}

{% block title %}
    {% if author %}
        {% if author == request.user %}Мої пости{% else %}Пости користувача {{ author.username }}{% endif %}
    {% elif category %}
        Пости категорії {{ category.name }}
    {% elif tags %}
        Пости за тегами {{ tags }}
    {% else %}
        Блоґ
    {% endif %}
{% endblock %}

{% block content %}
    {% if author %}
        {% include 'diggers/blocks/profile.html' %}
    {% elif category %}
        <h2 class="page-content__title">Пости категорії {{ category.name }}</h2>
    {% elif tags %}
        <h2 class="page-content__title">Пости за тегами {{ tags }}</h2>
    {% endif %}

    {% for post in posts %}
        <article class="entry">

            <header class="entry__header">

                <h2 class="entry__title h1">
                    <a href="{% url 'diggers:post_detail' post.pk %}" title="">{{ post.title }}</a>
                </h2>

                {% include "diggers/blocks/post_meta.html" %}

            </header>

            <div class="entry__content">
                {% if post.file %}
                    <a href="{% url 'diggers:map_download' post.pk %}" target="_blank">Завантажити</a>
                    <br>
                    <a href="{{ MEDIA_URL }}{{ post.file }}" target="_blank">
                        <img src="{{ MEDIA_URL }}{{ post.file }}" alt="upload"/>
                    </a>
                    {{ post.description|truncatechars_html:400|bleach }}
                {% else %}
                    {{ post.text|bleach|truncatechars_html:400 }}
                    {% if post.text|length > 400 %}
                        <a href="{% url 'diggers:post_detail' post.pk %}">Читати далі...</a>
                    {% endif %}
                {% endif %}
            </div>
        </article> <!-- end entry -->
    {% endfor %}

    {% if is_paginated %}
        <!-- page nav -->
        <nav class="pgn">
            <ul>
                {% if page_obj.has_previous %}
                    <li>
                        <a rel="prev" class="pgn__prev" href="?page={{ page_obj.previous_page_number }}">Попередня</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    <li>
                        {% if page_obj.number == i %}
                            <span class="pgn__num current">{{ i }}</span>
                        {% else %}
                            <a rel="page{{ i }}" class="pgn__num" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    </li>
                {% endfor %}

                {% if page_obj.has_next %}
                    <li>
                        <a rel="next" class="pgn__next" href="?page={{ page_obj.next_page_number }}">Наступна</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
