{% extends 'diggers/base.html' %}

{% block layout %}
    <div class="row">

        <div id="main" class="s-content__main large-8 column">

            {% block content %}
            {% endblock %}

        </div> <!-- end main -->


        <div id="sidebar" class="s-content__sidebar large-4 column">
            {% include "diggers/blocks/categories.html" %}
            {% include "diggers/blocks/tagcloud.html" %}

        </div> <!-- end sidebar -->

    </div> <!-- end row -->
{% endblock %}