{% extends 'diggers/base.html' %}

{% block layout %}
    <div class="row">

        <div id="main" class="s-content__main large-8 column">

            {% block content %}
            {% endblock %}

        </div> <!-- end main -->


        <div id="sidebar" class="s-content__sidebar large-4 column">

            <div class="widget widget--search">
                <h3 class="h6">Пошук</h3>
                <form action="#">
                    <input type="text" value="Search here..."
                           onblur="if(this.value == '') { this.value = 'Шукати на сайті...'; }"
                           onfocus="if (this.value == 'Шукати на сайті...') { this.value = ''; }" class="text-search">
                    <input type="submit" value="" class="submit-search">
                </form>
            </div>

            {% include "diggers/blocks/categories.html" %}
            {% include "diggers/blocks/tagcloud.html" %}

            <div class="widget widget_popular">
                <h3 class="h6">Популярні пости.</h3>

                <ul class="link-list">
                    <li><a href="#">Sint cillum consectetur voluptate.</a></li>
                    <li><a href="#">Lorem ipsum Ullamco commodo.</a></li>
                    <li><a href="#">Fugiat minim eiusmod do.</a></li>
                </ul>
            </div>

        </div> <!-- end sidebar -->

    </div> <!-- end row -->
{% endblock %}