{% load widget_tweaks %}

{% csrf_token %}
{{ form.media }}
<div>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert-box alert-box--error hideit">
                <p>{{ error }}</p>
                <svg class="svg-inline--fa fa-times fa-w-11 alert-box__close" aria-hidden="true" focusable="false"
                     data-prefix="fa" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 352 512" data-fa-i2svg="">
                    <path fill="currentColor"
                          d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                </svg><!-- <i class="fa fa-times alert-box__close" aria-hidden="true"></i> -->
            </div>
            <!-- end error -->
        {% endfor %}
    {% endif %}


    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div{% if forloop.last %} class="h-add-bottom"{% endif %}>
            {% if field|widget_type == 'select' %}
                {{ field.label_tag }}
                <div class="ss-custom-select">
                    {% render_field field|add_class:"h-full-width" %}
                </div>
            {% elif field|widget_type == 'checkboxinput' %}
                <div>
                    <label for="{{ field.id_for_label }}">
                        {{ field }}
                        <span class="label-text">{{ field.label }}</span>
                    </label>
                </div>
            {% else %}
                {{ field.label_tag }}
                {% render_field field|add_class:"h-full-width" %}
            {% endif %}
            {{ field.errors }}
        </div>
    {% endfor %}
</div>