{% load plural %}

<div class="entry__meta">
    <ul>
        {% if post.is_hidden %}
            <li><svg class="svg-inline--fa fa-lock fa-w-16" width="1792" height="1792" viewBox="0 0 1792 1792" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="lock" role="img" xmlns="http://www.w3.org/2000/svg" data-fa-i2svg="">
                    <path d="M640 768h512v-192q0-106-75-181t-181-75-181 75-75 181v192zm832 96v576q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-576q0-40 28-68t68-28h32v-192q0-184 132-316t316-132 316 132 132 316v192h32q40 0 68 28t28 68z"/>
                </svg><!--<i class="fa fa-lock" aria-hidden="true"></i>--></li>
        {% endif %}
        <li>{{ post.created_date }}</li>
        <li>
            {% if post.file %}
                <a href="{% url 'diggers:map_list' %}" title=""
                   rel="category tag">Мапи</a>
            {% else %}
                <a href="{% url 'diggers:list_by_category' category=post.category.route %}" title=""
                   rel="category tag">{{ post.category.name }}</a>
            {% endif %}
        </li>
        <li><a href="{% url 'diggers:list_by_author' post.author %}">{{ post.author }}</a></li>
        <li>{{ post.comment_set.all.count }} коментар{{ post.comment_set.all.count | plural:',я,ів' }}</li>
        {% if request.user.is_authenticated and post.author == request.user %}
            {% if perms.diggers.change_post %}
                <li><a href="{% url "diggers:post_update" post.pk %}" title="">Редагувати</a></li>
            {% endif %}

            {% if perms.diggers.delete_cmspost %}
                <li><a href="{% url "diggers:post_delete" post.pk %}" title="">Видалити</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
