{% extends 'diggers/base_email.html' %}

{% block title %}
    {% include "registration/password_reset_subject.txt" %}
{% endblock %}

{% block content %}
    <div>
        <p>Ви надіслали запит на відновлення пароляю на сайті {{ domain }} на пошту {{ email }}.</p>
        <p>Для зміни пароля перейдіть будь ласка за посиланням нижче.</p>

        <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>

        <p>Якщо ви не надсилали запит - просто проігноруйте цей лист.</p>
    </div>
{% endblock %}